<nav class="navbar navbar-expand-lg">
  <%# link_to image_tag("logo_mini.png", class: 'navbar-brand img-fluid'), root_path %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a href="#" class="nav-link"> Post </a>
        <%# link_to 'Inicio', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Posts</a>
        <%# link_to 'Posts', articles_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <p class="nav-link">|</p>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= current_user.email %>
          <%= link_to('Cerrar sesión', destroy_user_session_path, class: 'btn btn-platzi', method: :delete) %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Inicia sesión', user_session_path, class: 'btn btn-platzi' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
